<p id="notice"><%= notice %></p>

<p>
  <strong>Имя:</strong>
  <%= @message.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @message.email %>
</p>

<p>
  <strong>Сообщение:</strong>
  <%= @message.message %>
</p>
