<p id="notice"><%= notice %></p>



<p>
<img src="<%= @pageimage.pgimg %>" class="img-responsive">
</p>

<%= link_to 'Изменить', edit_pageimage_path(@pageimage) %> |
<%= link_to 'Назад', backend_path %>
