

<div class="left">
<h2><a class="inv" href="/">МБУЗ "ЦГБ" г.Батайска РО</a></h2>
</div>
<!--/left-->

<div class="right">
	<div class="wrap">
		        <div class="row">
                            <div class="col-lg-7 col-md-8 col-sm-8">
                                <img src="/images/home.png" class="ico pull-left">
                                <p>346880, Россия, Ростовская область,<br>Батайск, улица Куйбышева, 136</p>
                            </div>
                            <div class="col-lg-5 col-md-4 col-sm-4">
                                <img src="/images/phone.png" class="ico pull-left">
                                <big>(86354) 57164</big>
 
                                
                            </div>
                        </div><!--/Row end-->
	</div>
    <!--Menu-->
    <div class="menu">
       <ul class="nav nav-pills">
          <li><a  class="active" href="/">Главная</a></li>
          <li><a href="/about">О нас</a></li>
          <li><a href="/service">Отделения</a></li>
          <li><a href="/help">Пациенту в помощь</a></li>
          <li><a href="/contact">Контакты</a></li>
        </ul>
     </div>
     <!--/Menu end-->
 </div>
 <!--/right-->