

<div class="left">
<h2>ЦГБ БАТАЙСК</h2>
</div>
<!--/left-->

<div class="right">
	<div class="wrap">
		        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <img src="/images/home.png" class="ico pull-left">
                                <p>ул.Некрасова, Батайск<br>198019, Россия</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <img src="/images/phone.png" class="ico pull-left">
                                <big>8 (495) 000-00-00</big>
                                
                            </div>
                        </div><!--/Row end-->
	</div>
    <!--Menu-->
    <div class="menu">
       <ul class="nav nav-pills">
          <li><a  class="active" href="/">Главная</a></li>
          <li><a href="/about">О нас</a></li>
          <li><a href="/service">Отделения</a></li>
          <li><a href="/help">Пациенту в помощь</a></li>
          <li><a href="/contact">Контакты</a></li>
        </ul>
     </div>
     <!--/Menu end-->
 </div>
 <!--/right-->