          <!--СЛАЙДЕР-->
                <div class="slider">
                <div class="slider-item">
                    <img src="images/slide1.jpg" class="img-responsive" />
                    <div class="caption">
                     <big>Всесторонняя<br> забота</big><br><small>о вашем здоровье</small>
                    </div>
                </div>
                 <div class="slider-item">
                    <img src="images/slide2.jpg" class="img-responsive" />
                    <div class="caption">
                     <big>Всесторонняя<br> забота</big><br><small>о вашем здоровье</small>
                    </div>
                </div>
               </div>
               <!--/КОНЕЦ СЛАЙДЕРА-->