<div id="page">

<div class="left">
	<h2>Пациенту в помощь</h2>
</div>

<div class="right">
    <% @pagehelpimagesone.each do |pageimage| %>
        <img src="<%= pageimage.pgimg %>" class="img-responsive">
    <% end %>
    <% @pagehelpimagestwo.each do |pageimage| %>
        <img src="<%= pageimage.pgimg %>" class="img-responsive">
    <% end %>
</div>

<div class="pageContent">
<div class="contentLeft pad">
	<h3>Задайте вопрос главному врачу</h3>
  <hr>
          <form class="form-horizontal" action="" method="post">
          <fieldset>
    
            <!-- Name input-->
            <div class="form-group">
              <div class="col-md-12">
                <input id="name" name="name" type="text" placeholder="Имя, фамилия" class="form-control">
              </div>
            </div>
    
            <!-- Email input-->
            <div class="form-group">
              <div class="col-md-12">
                <input id="email" name="email" type="text" placeholder="Email" class="form-control">
              </div>
            </div>
    
            <!-- Message body -->
            <div class="form-group">
              <div class="col-md-12">
                <textarea class="form-control" id="message" name="message" placeholder="Ваше сообщение..." rows="5"></textarea>
              </div>
            </div>
    
            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-primary btn-sm">Отправить</button>
              </div>
            </div>
          </fieldset>
          </form>
  <h3>Полезные ссылки</h3>

  <div class="links">

    <% @links.each do |link| %>
      <div class="col-lg-4 col-md-3 col-sm-4 col-xs-4">
        <p><%= link.name %></p>
        <a href="<%= link.url %>" target="_blank">Перейти</a>          
        <% end %>
      </div>




  </div>

</div>

<div class="contentRight">
<div class="link">
        <a href="http://www.gosuslugi.ru/pgu/service/-10000000603_10000020298.html#!_description" target="_blank">
        <img src="images/o.png">
            Записаться на прием</a>
       </div>
       <img src="http://placehold.it/400x300" class="img-responsive">
<div class="link-pay">
        <a href="/" target="_blank">
            Платные услуги<br><small>Скачать прайс</small></a>
       </div>

  
</div>
</div>




</div>