

<div class="content">
            <!--СЛАЙДЕР-->
                <div class="slider">
                <div class="slider-item">
                    <img src="images/slide1.jpg" class="img-responsive" />
                    <div class="caption">
                     <big>Всесторонняя<br> забота</big><br><small>о вашем здоровье</small>
                    </div>
                </div>
                 <div class="slider-item">
                    <img src="images/slide2.jpg" class="img-responsive" />
                    <div class="caption">
                     <big>Всесторонняя<br> забота</big><br><small>о вашем здоровье</small>
                    </div>
                </div>
               </div>
               <!--/КОНЕЦ СЛАЙДЕРА-->
  <%=render 'partials/latest' %>
</div>


<aside>
<%=render 'partials/homeAside' %>
</aside>

<div class="bottom">
	<div class="left">
         <div class="promo">
                    <div class="row">
                    <div class="col-lg-3 text-right">
                        <img src="images/i.png" class="img-responsive">
                    </div>
                    <div class="col-lg-9">
                       <h3>Прививки от гриппа</h3>
                       <h4>Запишитесь по телефону +7 (495) 000-00-00</h4>
                     </div>
                </div>
            </div>
            <!--/promo-->

    </div>
    <div class="right">
     
       <div class="link">
        <a href="http://www.gosuslugi.ru/pgu/service/-10000000603_10000020298.html#!_description" target="_blank">
        <img src="images/o.png">
            Записаться на прием</a>
       </div>
    </div>
</div>