<div class="jumbotron">
        <p>Управление новостями, загрузка документов, редактирование сотрудников и другое.</p>
        <a href="/" target="_blank" class="btn btn-info btn-xs">На сайт</a>
</div>

