<h3>Настройка страниц</h3>
<hr>


  

    <tbody class="abouttext-index">
      <%= render "indexAboutText" %>
    </tbody>

<div id="abouttext-modal" class="modal fade">
<div class="modal-dialog">
<div id="inner-abouttext-modal" class="modal-content"></div>
</div>
</div>