<div class="well">
    <%= link_to "Добавить отделение", new_otd_path, remote: true, class: "btn btn-block btn-danger" %>
  </div>
  <div class="new-otd"></div>
  
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Название</th>



        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </thead>
    <tbody class="otd-index">
      <%= render "indexOtd" %>
    </tbody>
  </table>
<div id="otd-modal" class="modal fade">
<div class="modal-dialog">
<div id="inner-otd-modal" class="modal-content"></div>
</div>
</div>