<div class="well">
    <%= link_to "Добавить сотрудника", new_person_path, remote: true, class: "btn btn-block btn-danger" %>
  </div>
  <div class="new-person"></div>
  
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Имя</th>
        <th>О сотруднике</th>
        <th>Фото </th>

        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </thead>
    <tbody class="person-index">
      <%= render "indexPerson" %>
    </tbody>
  </table>
<div id="person-modal" class="modal fade">
<div class="modal-dialog">
<div id="inner-person-modal" class="modal-content"></div>
</div>
</div>